<template>
  <header class="header_avatar">
    <div class="header_avatar_content">
      <div class="logo_avatar">
        <img :src="avatar.avatar" alt="">
      </div>
      <div class="content_avatar">
        <figure class="avatar_logo">
          <img class="avatar_name_brank" src="../../assets/brand@2x.png" alt="">
          <figcaption class="avatar_name">{{avatar.name}}</figcaption>
        </figure>
        <article class="avatar_dispatch">
          <div class="dispatching">
            <span>{{avatar.description}}/</span>
            <span>{{avatar.deliveryTime}}分钟送达</span>
          </div>
          <div v-if="avatar.supports" class="dispatching_detail">
            <blockquote>
              <div class="icon" :class="classMap[avatar.supports[0].type]"></div>
              <span style="margin-left:16px;">{{avatar.supports[0].description}}</span>
            </blockquote>
            <div class="dispatching_detail_show">
              <div class="detail_show">
                {{avatar.supports.length}}个
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="header_avatar_show">
      <i class="header_avata_bulletin"></i>
      <div class="header_avata_content">{{avatar.bulletin}}</div>
      <i class="header_avata_arrow"></i>
    </div>
  </header>
</template>

<script>
  export default {
    data() {
      return {
        avatar: {},
        classMap: []
      };
    },
    created() {
      this.classMap = ["decrease", "discount", "guarantee", "invoice", "special"];
      this.getavatar();
    },
    methods: {
      getavatar() {
        this.$http.get("../../../static/data.json").then(res => {
          console.log(res);
          this.avatar = res.data.seller;
        });
      }
    },
    components: {}
  };

</script>

<style scoped lang="stylus">
  @import '../../common/mixin.styl';

  .header_avatar {
    width: 100%;
    /* background-color: rgba(7, 17, 27, 0.5) */
    background: url('../../assets/avatar.png') repeat-x;

    .header_avatar_content {
      display: flex;

      .logo_avatar {
        width: 64px;
        height: 64px;
        padding: 24px 16px 18px 24px;

        & img {
          height: 100%;
          display: block;
          border-radius: 2px;
        }
      }
    }

    .content_avatar {
      margin-top: 24px;
      height: 64px;
      width: 100%;

      .avatar_logo {
        display: flex;
        flex-direction: row;

        .avatar_name_brank {
          width: 30px;
          height: 18px;
        }

        .avatar_name {
          margin-left: 6px;
          font-size: 16px;
          font-weight: bold;
          line-height: 18px;
          color: rgb(255, 255, 255);
        }
      }

      .avatar_dispatch {
        margin-top: 8px;

        .dispatching {
          display: flex;
          font-size: 12px;
          font-weight: 100;
          line-height: 12px;
        }

        .dispatching_detail {
          margin-top: 10px;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          justify-content: space-between;
          width: 100%;

          blockquote {
            display: flex;

            & img {
              margin-right: 4px;
            }
          }

          .dispatching_detail_show {
            width: 43px;
            height: 24px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            background-color: rgb(85, 90, 94);
            margin-right: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -7px;

            .detail_show {
              background: url('../../assets/arrow.png') no-repeat;
              padding: 0px 8px;
              background-size: 3.5px 6.5px;
              font-size: 10px;
              background-position: 31px 3px;
            }
          }

          & .icon {
            width: 12px;
            height: 12px;
            bg-image('../../assets/icon_');
          }

          & .decrease {
            background-position: -3px -3px;
          }

          & .discount {
            background-position: -3px -20px;
          }

          & .guarantee {
            background-position: -3px -36px;
          }

          & .invoice {
            background-position: -3px -54px;
          }

          & .special {
            background-position: -3px -71px;
          }
        }
      }
    }
    .header_avatar_show{
      height :28px 
      font-size :10px
      background-color:rgba(7,17,27,0.2)
      display :flex
      justify-content: center;
      align-items: center;
    }
      .header_avata_bulletin{
        d-image(22px,12px,'../../assets/bulletin@2x.png')
        margin-left: 12px
        padding-right: 28px;
      }
      .header_avata_arrow{
         d-image(3.5px,6.5px,'../../assets/arrow.png')
         padding-right: 8.5px;
      }
      .header_avata_content{
        white-space: nowrap;
        text-overflow: ellipsis;   
        overflow hidden
        padding-right: 4px;
      }
  }

</style>
