<template>
  <div class="goods">
      <div class="goods_left" ref="goodsLeft">
        <ul class="bscroll-container">
          <li v-for="item in dataLeft" :key="item.id" class="goods_title">
          {{item.name}}
        </li>
        </ul>
      </div>
      <div class="goods_right" ref="goodsRight">1111</div>
  </div>
</template>

<script type="text/ecmascript-6">
 import BScroll from "better-scroll"
  export default {
    data() {
      return {
        dataLeft:[],
        dataRight:[]
      }
    },
    created () {
       this.loadData()
    } ,
    methods: {
      loadData(){
        this.$http.get('../../static/data.json').then((res)=>{
           if(res.status == 200){
             this.dataLeft =res.data.goods
             this.$nextTick(()=>{
              /*  if(!this.scroll){
                 this.initScroll()
               }else{
                 this.scroll.refresh()
               } */
               this.initScroll()
             })
            
           }
        })
      },
      initScroll(){
        this.leftScroll =new BScroll(this.$refs.goodsLeft,{
             click:true
        })
       // this.rightScroll =new BScroll(this.$refs.goodsRight,{})
      }
    }
  } 
</script>

<style scoped lang="stylus">
.goods
    display: flex
    position: absolute
    top: 175px
    bottom: 48px
    width: 100%
    overflow: hidden
  .goods_left
      border-right  :1px solid #eee
      width :80px

  .goods_left,.goods_right
    padding :0px 6px

  li.goods_title{
    height :54px
    display: flex;
    align-items: center;
    justify-content: center;
  }

</style>
