<template>
    <div class="header-top">
        <div class="header_content">
          
        </div>
        <div class="header_shade"></div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'HelloWorld',
  data () {
    return {
      
    }
  },
  created () {
    this.getData();
  },
  methods: {
    getData(){
      axios.get('../../static/data.json').then(function(data){
      });
    }
  }
}
</script>

