<template>
    <div class="index">
        
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        created () {
            
        },
        mounted () {
            
        }
    }
</script>
<style scoped>

</style>