<template>
  <div class="page">
      <ul class="title">
        <li v-for="(tab,index) in tabs" :key="tab"  @click="changeTab(index)" class="tab-li"><a 
          :class="['tab-button',{active:currentPageindex===index}]"
        >{{tab}}</a></li>
      </ul>
        <div class="tab-slider" ref="tabSlider">
            <component :is="tabCompents[currentPageindex]"></component>
        </div>
      
  </div>
</template>


<script  type="text/ecmascript-6">
  import goods from './goods'
  import seller from './seller'
  import ratings from './ratings'
  import BScroll from "better-scroll"
  export default {
    data() {
      return {
          tabs:['商品','评价','商家'],
          tabCompents:['goods','ratings','seller'],
          currentPageindex:0,
      }
    },
    created () {
      this.$nextTick(()=>{
        this.initscroll()
      })
    },
    components: {
      goods,
      seller,
      ratings
    },
    methods: {
      changeTab(index){
        this.currentPageindex =index
      },
      sliderTo(){
        
      },
      initscroll(){
        let tabScroll =new BScroll(this.$refs.tabSlider,{})
        tabScroll.on('scroll',()=>{
          console.log(1)
        })
      }
    }
  }
</script>

<style scoped lang="stylus">
    @import '../common/mixin.styl'
    .router-link-active
        color :rgb(240,20,20)
    .page
       color :rgb(75,85,93)
       height :450px
       box-sizing:border-box
       -moz-box-sizing:border-box; /* Firefox */
       -webkit-box-sizing:border-box; /* Safari */
       .title
          display :flex
          height :40px
          font-size :14px
          line-height :40px
          color:rgb(77,85,93)
          border-1px(rgba(7,17,27,0.1))
          .tab-li
            flex:1
            height:100%
    & .active
      color:red
</style>
