<template>
  <div id="app">
    <v-header></v-header>
    <v-tab></v-tab>
    <div class="footer">我是底部</div>
  </div>
</template>

<script>
import header from './components/header/header.vue'
import tab from './components/tab'

export default {
  name: 'App',
  components: {
    'v-header': header,
    'v-tab':tab
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  font-weight :100;
}

</style>
