border-1px($color)
    position: relative
    &:after
        display: block
        position: absolute
        width: 100%
        left :0
        bottom: 0
        border-top: 1px solid $color
        content: ''

bg-image($url)
    background-image:url($url+ "@2x.png")
    background-size: 128px 128px
    background-repeat: no-repeat
    @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3) 
        background-image:url($url+ "@3x.png")
        background-size: 128px 128px
        background-repeat: no-repeat

d-image(width,height,$url)
    background-image: url($url)
    background-repeat: no-repeat
    background-size: width height
    display :inline-block
    width: width
    height: height
